//import
@use "../utilities/variables" as *;
@use "../utilities/mixin" as *;


.contenedor-contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-primario;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30px;
}

.contacto-imagen{
    @include imagenes (30px, auto);
    margin: 5%;
}
.contacto{
    border-radius: 4px;
    background-color: $color-primario;
}

.texto-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    background-color: $color-primario;
}
.texto{
    font-size: 20px;
}